body {   
 background-color: black;
color: white;
}
nav {
background-color: rgb(44, 44, 224);
color:white;
height: 50px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
}
a {
margin-right: 200px;
text-decoration: none;
text-align: center;
color:white;
margin: 20px;
}
     h2 {
     text-align: left;
     font-family: 'Times New Roman', 'Times, serif';
     font-size: 14px;
}
h3,p {
     text-align: left;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
     color:White-smoke;
     padding-left: 10pc;
}
img { 
    height:200px;
    width: 350px;
    display: flex;
    flex-direction: row;
    float: inline-start;
    margin-left: 600px;
}
